body{
    direction: rtl;
    margin: 0;
    padding: 0;

}
.sidebar {
width: 150px;
background-color: #3b3b3b;
position: fixed;
height: 100%;
overflow: auto;
}

/* Sidebar links */
.sidebar a {
display: block;
color: rgb(223, 223, 223);
padding: 16px;
text-align: center;
margin: 40px 0px;
text-decoration: none;
}
.sidebar .logo{
    margin: 0px;
    padding: 50px 0px;
}
/* Active/current link */
.sidebar a.active {
background-color: #5d6864;
color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
background-color: #5d6864;
color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
margin-right: 150px;
padding: 1px 16px;
height:750px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
.sidebar {
width: 100%;
height: auto;
position: relative;
}
.sidebar a {float: right;}
div.content {margin-right: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
.sidebar a {
text-align: center;
float: none;
}
}

/* -------------------------------------------------------------------- */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .logo{
    font-size: 100px;
}
.content p{
    font-size: 60px;
}
